.appContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  height: 100vh;
  width: 100%;
  background-size: cover;
  padding: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.headEdit {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto';
}

.timerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, orange, #ffffff, green);
  width: 30%;
  border-radius: 8px;
  padding: 15px;
}

.a {
  display: flex;
  align-items: center;
}

.headEdit2 {
  column-rule: black;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
}

.imgEdit {
  height: 24px;
  width: 24px;
}

.b {
  font-size: 30px;
  font-weight: bold;
}

.controlBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.c {
  background-color: aquamarine;
  border-radius: 8px;
  height: 40px;
  width: 90px;
  width: none;
  border-width: 0px;
  font-weight: bold;
  color: black;
  margin: 5px;
  cursor: pointer;
}
